<?xml version="1.0" encoding="utf-8"?>

<launch>
    <param name="ifdetected" value="False" />
    <!-- 开启RGB摄像头  -->
    <include file="$(find robot_vision)/launch/usb_cam.launch" />
    <!-- 开启深度摄像头  -->
    <include file="$(find astra_camera)/launch/dabai_u3.launch" />
    <!-- 开启yolov5节点  -->
    <node pkg="detect" type="detect_yolov5.py" name="yolov5_ros" output="screen" respawn="true">
        <param name="conf" value="0.8" />
        <param name="weight_path" value="$(find detect)/weight/best_s.engine"/>
    </node>
</launch>
